.news-details-title{
    text-align: center;
    width: 720px;
    margin: 200px auto;
    h2{
        font-size: 42px;
        font-weight: 600;
        color: white;
        letter-spacing: -2.5px;
        margin-bottom: 25px;
    }
    .about-title{
        span{
            i{
                font-size: 20px;
                color: #FFBA00;
                margin-right: 5px;
            }
            font-size: 16px;
            font-weight: 400;
            color: white;
            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }
}



.news-details{
    display: flex;
    justify-content: space-around;
    width: 95%;
    .news-details-body{
        width:768px;
        .news-image{
            width: 768px;
            margin-bottom: 20px;
            img{
                width: 100%;
                border-radius: 11px;
            }
        }
        .news-details-description{
            p{
                color: rgb(192, 192, 192);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 20px;
            }
            h2{
                font-size: 24px;
                font-weight: 600;
                color: white;
                margin-bottom: 15px;
            }
            .sub-img{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 20px;
                img{
                    width: 370px;
                    border-radius: 11px;
                }
            }
            .news-details-slogans{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                ul{
                    width: 49%;
                    li{
                        padding: 5px 0;
                        color: rgb(192, 192, 192);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        i{
                            color: #FFBA00;
                            margin-right: 5px;
                            font-size: 20px;
                        }
                    }
                }
            }

        }

        .news-details-body-bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tags{
            align-items: center;

                display: flex;
            }
            .share{
                align-items: center;
                display: flex;
            }
            h3{
                font-size: 18px;
                font-weight: 600;
                color: white;
                margin-right: 10px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #FFBA00;
            }
            ul{
                display: flex;
                li{
                    &:nth-child(2){
                        margin: 0 15px;
                    }
                    &:hover{
                        a{
                            background-color: #FFBA00;
                            i{
                                color: black;
                            }
                        }
                        
                    }
                    a{
                        border-radius: 5px;
                        position: relative;
                        width: 40px;
                        height: 40px;
                        background-color: transparent;

                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            font-size: 16px;
                            color: #FFBA00;
                        }
                    }
                }
            }
            border-bottom: 1px solid rgb(192, 192, 192);
            padding-bottom: 20px;
        }

        .leave-reply{
            margin-top: 50px;
            h2{
                font-size: 42px;
                font-weight: 600;
                color: white;
                margin: 20px 0;
            }
            form{
                width: 500px;
                margin-bottom: 120px;
                .form{
                    margin-bottom: 20px;
                }
                input{
                    border-radius: 5px;
                    display: block;
                    background-color: rgb(23, 23, 23);
                    border: none;
                    width: 100%;
                    padding: 13px 20px;
                    font-size: 15px;
                    color: #FFBA00;
                    outline: none;
                }
                textarea{
                    border-radius: 5px;
                    display: block;
                    background-color: rgb(23, 23, 23);
                    border: none;
                    width: 100%;
                    padding: 12px 16px;
                    font-size: 15px;
                    color: #FFBA00;
                    outline: none;
                    resize: none;
                    height: 150px;
                }
            }
        }
    }

}

.error-hide{
    display: none;
}
.error-show{
    display: block;
    color: #FFBA00;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
}



@media screen and (max-width: 1025px) {
    .news-details{
        width: 100%;
    }
    .aside-right{
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .news-details{
        margin: 0 auto;
    }
}