.btn-main{
    padding: 18px 38px;
    background-color: #FFBA00;
    border-radius: 3px;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    color: #000;
    &:hover{
        color: #000;
    }
}