.section-title{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    h2{
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        position: relative;
        padding-bottom: 70px;
        color: white;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 4px;
            width: 130px;
            background-color: #FFBA00;
            margin-bottom: 40px;
        }
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(192, 192, 192);
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width: 426px){
    .section-title{
        width: 100% !important;
        h2{
            font-size: 30px !important;
            line-height: 30px !important;
        }
        p{
            font-size: 15px !important;
            line-height: 20px !important;
        }
    }
}