.mini-information{
    display: flex;
    margin-bottom: 80px;
    &__img{
        width: 50%;
        margin-right: 20px;
        img{
            width: 100%;
            border-radius: 11px;
        }
    }
    &__description{
        width: 50%;
        margin-left: 20px;
        .quality-slogan{
            width: 400px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 23px;
            ul{
                li{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: rgb(192, 192, 192);
                    span{
                        color: #FFBA00;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .mini-information{
        display: block !important;
        padding: 30px !important;
        &__img{
            img{
                border: 1px solid #FFBA00;
                border-radius: 11px;
            }
            width: 100% !important;
            margin-bottom: 25px !important;
        }
        &__description{
            width: 100% !important;
            .quality-slogan{
                width: 200px !important;
                display: block !important;
            }
        }
    }
}