.news-overview{
    margin-bottom: 80px;
    .news-cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .news-card{
            width: 373px;
            .news-image{
                position: relative;
                margin-bottom: 25px;
                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                }
                span{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 20px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-left: 1px solid rgb(132, 132, 132);
                    border-bottom: 1px solid rgb(132, 132, 132);
                    background-color: black;
                    color: #FFBA00;
                }
            }
            .news-description{
                .news-title{
                    margin-bottom: 15px;
                    a{
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 28px;
                        color: white;
                        &:hover{
                            color: #FFBA00;
                        }
                    }
                }
                p{
                    color: rgb(192, 192, 192);
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
                .read-more{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #FFBA00;
                    padding: 5px;
                }
            }
        }
    }
}