html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: white;
  text-decoration: none;
  display: inline-block; }
  a:hover {
    color: #fff; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #000; }

li {
  list-style: none; }

.container-custom {
  margin: 0 auto;
  width: 1180px; }

@keyframes floatThings {
  0% {
    transform: translateY(0px); }
  10% {
    transform: translateY(1px); }
  20% {
    transform: translateY(3px); }
  30% {
    transform: translateY(7px); }
  40% {
    transform: translateY(10px); }
  50% {
    transform: translateY(12px); }
  60% {
    transform: translateY(10px); }
  70% {
    transform: translateY(7px); }
  80% {
    transform: translateY(3px); }
  90% {
    transform: translateY(1px); }
  100% {
    transform: translateY(0px); } }

header {
  background-color: transparent;
  padding: 10px 0;
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 9999; }
  header .header-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    header .header-content-wrapper .header-logo {
      letter-spacing: -2px; }
      header .header-content-wrapper .header-logo p {
        display: inline-block;
        font-weight: 700;
        font-size: 35px;
        color: white; }
      header .header-content-wrapper .header-logo span {
        font-weight: 700;
        font-size: 35px;
        color: #FFBA00; }
    header .header-content-wrapper nav {
      color: white;
      font-size: 17px;
      font-weight: 400; }
      header .header-content-wrapper nav ul {
        display: flex;
        list-style: none; }
        header .header-content-wrapper nav ul li {
          margin-right: 25px;
          margin-left: 25px; }
          header .header-content-wrapper nav ul li a:hover, header .header-content-wrapper nav ul li a:focus, header .header-content-wrapper nav ul li a:active {
            color: #FFBA00; }

main .main-section-home {
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: space-between; }
  main .main-section-home__img img {
    width: 480px; }
    main .main-section-home__img img:hover {
      animation: floatThings 2s linear infinite; }
  main .main-section-home__content {
    padding-left: 90px;
    padding-top: 50px; }
    main .main-section-home__content h2 {
      font-size: 62px;
      letter-spacing: -4px;
      line-height: 55px;
      font-weight: 700; }
    main .main-section-home__content p {
      color: silver;
      margin-bottom: 35px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; }
    main .main-section-home__content .slogan-main-home {
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px; }
      main .main-section-home__content .slogan-main-home h3 {
        font-size: 18px;
        font-weight: 600;
        color: white; }
        main .main-section-home__content .slogan-main-home h3 i {
          font-size: 40px;
          color: #FFBA00;
          display: block;
          padding: 10px 10px 10px 0; }
        main .main-section-home__content .slogan-main-home h3 span {
          display: inline-block;
          margin: 8px 0; }

.mini-ads-cards {
  display: flex;
  justify-content: space-between; }
  .mini-ads-cards .mini-ads-card {
    display: flex;
    width: 371px;
    height: 122px;
    background-color: red;
    border-radius: 11px;
    overflow: hidden; }
    .mini-ads-cards .mini-ads-card:nth-child(1) {
      background-color: #FFBA00; }
    .mini-ads-cards .mini-ads-card:nth-child(2) {
      background-color: #007936; }
    .mini-ads-cards .mini-ads-card:nth-child(3) {
      background-color: #cc3433; }
    .mini-ads-cards .mini-ads-card__img {
      width: 40%;
      position: relative;
      overflow: hidden; }
      .mini-ads-cards .mini-ads-card__img img {
        position: absolute;
        bottom: -20px;
        left: -30px;
        width: 140px; }
    .mini-ads-cards .mini-ads-card__content {
      width: 60%;
      padding: 20px; }
      .mini-ads-cards .mini-ads-card__content h2 {
        font-size: 24px;
        font-weight: 700px;
        color: white;
        margin-bottom: 4px; }
      .mini-ads-cards .mini-ads-card__content p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: white; }
      .mini-ads-cards .mini-ads-card__content a {
        color: #FFBA00;
        font-size: 18px;
        margin-top: 5px; }
      .mini-ads-cards .mini-ads-card__content__buy {
        color: black !important; }

.discount-ads-cards {
  margin: 120px 0;
  display: flex; }
  .discount-ads-cards .discount-ads-card {
    border: 1px solid #ffbb004b;
    width: 575px;
    height: 280px;
    border-radius: 11px;
    background-color: #171717;
    display: flex;
    align-items: center; }
    .discount-ads-cards .discount-ads-card:not(:last-child) {
      margin-right: 15px; }
    .discount-ads-cards .discount-ads-card .discount-ads-description {
      padding: 30px 0 30px 30px;
      width: 60%; }
      .discount-ads-cards .discount-ads-card .discount-ads-description h2 {
        color: white;
        font-size: 28px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 15px; }
      .discount-ads-cards .discount-ads-card .discount-ads-description p {
        color: silver;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 15px; }
      .discount-ads-cards .discount-ads-card .discount-ads-description a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #FFBA00; }
    .discount-ads-cards .discount-ads-card .discount-ads-img {
      width: 40%;
      padding: 30px 30px 30px 0; }
      .discount-ads-cards .discount-ads-card .discount-ads-img img {
        width: 100%; }
        .discount-ads-cards .discount-ads-card .discount-ads-img img:hover {
          animation: floatThings 2s linear infinite; }

.mini-information {
  display: flex;
  margin-bottom: 80px; }
  .mini-information__img {
    width: 50%;
    margin-right: 20px; }
    .mini-information__img img {
      width: 100%;
      border-radius: 11px; }
  .mini-information__description {
    width: 50%;
    margin-left: 20px; }
    .mini-information__description p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: silver;
      margin-bottom: 23px; }
    .mini-information__description .quality-slogan {
      width: 400px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px; }
      .mini-information__description .quality-slogan ul li {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: silver; }
        .mini-information__description .quality-slogan ul li span {
          color: #FFBA00; }

.products .product-cards {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-wrap: wrap;
  margin: 80px 0;
  padding: 0 60px; }
  .products .product-cards .product-card {
    width: 275px;
    padding: 25px;
    margin: 0 10px;
    border: 1px solid #ffbb0093;
    border-radius: 25px;
    margin-bottom: 30px; }
    .products .product-cards .product-card__img {
      height: 217px;
      border-radius: 30px;
      background-color: #202020;
      width: 100%;
      position: relative;
      margin-bottom: 30px;
      transition: background-color .4s ease; }
      .products .product-cards .product-card__img:hover {
        background-color: #FFBA00; }
      .products .product-cards .product-card__img img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 155px; }
        .products .product-cards .product-card__img img:hover {
          width: 170px; }
    .products .product-cards .product-card__body h2 {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 24px;
      color: white;
      margin-bottom: 20px; }
    .products .product-cards .product-card__body p {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: silver; }
    .products .product-cards .product-card__body .price-order {
      width: 180px;
      display: flex;
      justify-content: space-between;
      color: #FFBA00; }
      .products .product-cards .product-card__body .price-order .price {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px; }
      .products .product-cards .product-card__body .price-order .order {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400; }

.btn-main {
  padding: 18px 38px;
  background-color: #FFBA00;
  border-radius: 3px;
  font-size: 17px;
  line-height: 100%;
  font-weight: 500;
  color: #000; }
  .btn-main:hover {
    color: #000; }

.card-title {
  font-size: 42px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: -3px;
  position: relative;
  padding-bottom: 70px;
  color: white; }
  .card-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 130px;
    background-color: #FFBA00;
    margin-bottom: 40px; }

.section-title {
  text-align: center;
  width: 600px;
  margin: 0 auto; }
  .section-title h2 {
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    position: relative;
    padding-bottom: 70px;
    color: white; }
    .section-title h2::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 4px;
      width: 130px;
      background-color: #FFBA00;
      margin-bottom: 40px; }
  .section-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: silver;
    margin-bottom: 30px; }

.filter-buttons {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .filter-buttons li {
    margin: 0 25px 10px;
    padding: 16px 40px;
    background-color: #202020;
    color: white;
    border-radius: 11px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; }
    .filter-buttons li:hover {
      color: black;
      background-color: #FFBA00; }

.video-wrapper {
  position: relative; }
  .video-wrapper video {
    width: 100%;
    height: 100%; }
  .video-wrapper .section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
